@font-face {
    font-family: "OpenSans-Bold";
    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "OpenSans-Medium";
    src: url("../fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family: "Oswald-Bold";
    src: url("../fonts/Oswald-Bold.ttf");
}